RewriteEngine On

# If requesting assets
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d 

# Note: The "/?" means the trailing slash is optional

# About
RewriteRule ^about/?$ about.html [L]
RewriteRule ^about/(.+?)/?$ about-$1.html

# Awards
RewriteRule ^awards/?$ awards.html

# Corporate
RewriteRule ^corporate/?$ corporate.html
RewriteRule ^corporate/(.+?)/?$ corporate-$1.html

# Internal
RewriteRule ^internal/?$ internal.html
RewriteRule ^internal/(.+?)/(.+?)/?$ internal-$1-$2.html
RewriteRule ^internal/(.+?)/?$ internal-$1.html

# Join
RewriteRule ^join/?$ join.html

# News
RewriteRule ^news/?$ news.html
RewriteRule ^news/(.+?)/?$ news-$1.html

# POW
RewriteRule ^pow/?$ pow.html

# Projects
RewriteRule ^projects/?$ projects.html

# Spark
RewriteRule ^spark/?$ spark.html

# RewriteRule ^about/(.*)?$ about-$1.html

# Generic version
# RewriteRule ^/.* $1.html

# Error pages
# ErrorDocument 404 /assets/404.html
